<!DOCTYPE>

<html>

	<head>
		<title>{{site.title}}</title>
	</head>

	<body>
		{% include header.html %} 
			<main>	
			{{content}}
			
			{% for post in site.posts %}
			<li>
			<a href="{{ post.url }}">{{ post.article1 }}</a>
			</li>
			<li>
			<a href="{{ post.url }}">{{ post.article2 }}</a>
			</li>
			<li>
			<a href="{{ post.url }}">{{ post.article3 }}</a>
			</li>
			<li>
			<a href="{{ post.url }}">{{ post.article4 }}</a>
			</li>
			{{ post.excerpt }}
  			{% endfor %}		
			</main>
		{% include footer.html %} 
	</body>

</html>